@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Quicksand&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --main: #1d1e1e;
  --secondary: #77b6ea;
  --tertiary: #c7d3dd;
  --dark-blue: #3051BD;
  --flash-white: #eff2f1;
  font-size: 16px;
  max-width: 100%;
  background-color: var(--main);
  font-family: 'Quicksand', sans-serif;
}

.App {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--main);
}

.navbar {
  background-color: var(--main);
  justify-content: flex-end; /* Align items to the right */
  border-bottom: 2px solid var(--dark-blue);
}

.navbar-nav {
  flex-direction: row; /* Display items horizontally */
}

.nav-link {
  color: var(--tertiary);
  margin-left: 20px; /* Add some spacing between the items */
}

.nav-link:hover {
  cursor: pointer;
  color: var(--dark-blue) !important;
}

.navbar-toggler {
  box-shadow: none !important;
}

.offcanvas {
  background-color: var(--main) !important;
}

.offcanvas-header {
  border-bottom: #3051BD !important;
}

.offcanvas-title {
  color: #3051BD !important;
  font-size: 2rem !important;
  padding: 20px !important;
}

.nav-link {
  color: var(--tertiary) !important;
  font-size: 3rem !important;
  padding: 15px !important;
}

.btn-close {
  --bs-btn-close-color: #fff !important;
  background: #c7d3dd var(--bs-btn-close-bg) center/1em auto no-repeat !important;
  margin: 20px !important;
}

.card-body {
  --bs-card-spacer-y: 0;
  --bs-card-spacer-x: 0;
}

.img-fluid {
  border-radius: 5px;
}

.accordion {
  --bs-accordion-bg: #1d1e1e !important;
  --bs-accordion-border-color: var(--main) !important;
  --bs-accordion-active-bg: var(--dark-blue) !important;
  --bs-accordion-border-width: 2px !important;
}

.accordion-button {
  font-size: 1.3rem !important;
}

.accordion-button {
  color: var(--tertiary) !important;
}

.accordion-button:focus, .accordion-button:hover {
  background-color: var(--dark-blue) !important;
  border-color: var(--dark-blue) !important;
  box-shadow: none !important;
}

.accordion-button::after {
  background-image: none !important;
  background-color: var(--tertiary) !important;
  -webkit-mask-image: var(--bs-accordion-btn-icon) !important;
  mask-image: var(--bs-accordion-btn-icon) !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--dark-blue) !important;
}

.accordion-item {
  border: var(--bs-accordion-border-width) solid #3f3f3f !important;
  background-color: #1d1e1e !important;
}

.list-group {
  --bs-list-group-bg: #1d1e1e !important;
}

.list-group-item {
  color: var(--tertiary) !important;
}

.no-border {
  border: none !important;
  padding: 15px 15px 15px 0px !important;
  background-color: #212529 !important;
}

a.external {
  color: var(--tertiary);
  text-decoration: none !important;
  cursor: pointer; 
}

a.external:hover {
  color: var(--dark-blue);
}

a.nav-link {
  font-size: 1.2rem !important;
}

.carousel-caption {
  background-color: var(--main) !important;
  opacity: 0.9 !important;
}

.carousel-caption h5 {
  color: var(--tertiary) !important;
  opacity: 1;
  font-size: 1.3rem !important;
  font-weight: bold !important;
}

.active.carousel-item:hover {
  cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}

.active.carousel-item > img {
  border-radius: 5px;
}

.modal-content {
  background-color: var(--main) !important;
}

.modal-title {
  color: var(--dark-blue) !important;
  font-size: 2.25rem !important;
}

.modal-body {
  margin: auto;
  width: 100% !important;
}

.mobile .img-fluid {
  max-width: 35%;
}

@media only screen and (min-width: 1200px) {
  body {
    --bs-body-font-family:  'Quicksand', sans-serif !important;
  }
  .profile-photo.justify-content-center {
    justify-content: end !important;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.9rem !important;
    --bs-body-font-family:  'Quicksand', sans-serif !important;
  }  
  a.nav-link {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 480px) {
  body {
    --bs-body-font-family:  'Quicksand', sans-serif !important;
    font-size: calc(12px + 0.5vw) !important;
  }
  a.nav-link {
    font-size: 1.5rem !important;
  }
  .modal-title {
    font-size: 2rem !important;
  }
}