/* 37393a 
77b6ea
c7d3dd*/

:root {
  --main: #37393a;
  --secondary: #77b6ea;
  --tertiary: #c7d3dd;
}

.App {
  background-color: var(--main);
}

h1, h2 {
  color: var(--secondary);
}

p, li {
  color: var(--tertiary)
}

.about-me {
  display: grid;
}