/* 37393a 
77b6ea
c7d3dd*/

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Quicksand&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

/* Styles for root/mobile */
:root {
  --main: #1d1e1e;
  --secondary: #77b6ea;
  --tertiary: #c7d3dd;
  --dark-blue: #3051BD;
  --flash-white: #eff2f1;
  background-color: var(--main);
  font-size: 18px;
  max-width: 100%;
}

.App {
  font-family: 'Quicksand', sans-serif;
}

.menu {
  position: fixed;
  top: 0;
  margin: auto;
  
  width: 100%;
  background-color: var(--main);
  z-index: 999;
  transition: all 0.3s ease;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  font-size: 1.5rem;
  list-style: none;
}

.menu li:hover {
  cursor: pointer;
}

.menu.hidden {
  transform: translateY(-100%);
}

h1 {
  text-align: center;
  padding-top: 25px;
  color: var(--dark-blue);
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  /* text-align: center; */
  color: var(--secondary);
}

h3 {
  text-align: left;
  color: var(--flash-white)
}

p {
  color: var(--tertiary);
  width: 90%;
  line-height: 40px;
  margin: auto;
}

li {
  color: var(--tertiary);
  /* list-style: none; */
}

a {
  color: var(--flash-white);
  text-decoration: none;
}

.profile-photo {
  text-align: center;
  margin: 10px;
}

.profile-photo img {
  max-width: 275px;
  max-height: 425px;
  border-radius: 5px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition: opacity 1500ms ease-out, transform 1000ms ease-out,
    visibility 1500ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 2;
  transform: none;
  visibility: visible;
}

.skills {
  text-align: center;
  width: 100%;
}

.skills-list {
  column-count: 2;
  column-gap: 50px;
  padding: 0;
  margin: 0;
  break-inside: avoid-column;
  list-style: none;
}

.languages, .tools, .software {
  margin: auto
}

.projects {
  margin: auto;
  text-align: left;
}

.projects h2, .projects p {
  text-align: left;
  width: 100%;
}

.openlab, .kdrama, .vacation {
  margin: auto;
  width: 90%;
}

.project-tech {
  padding: 0;
  break-inside: avoid-column;
  width: 100%;
}

.project-tech li {
  display: inline-block;
  margin-right: 20px;
}

.image-gallery {
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-projects {
  width: 90%;
  margin: auto;
}

.experience {
  width: 90%;
  margin: auto;
}

.experience-list {
  list-style: disc;
}

.experience-list li {
  margin-bottom: 20px
}

.contact-links, .contact-links li {
  list-style: none;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  :root {
    font-size: 1.2rem;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--main);
    z-index: 999;
    transition: all 0.3s ease;
  }

  .menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
    width: 100%;
    font-size: 1.2rem;
    list-style: none;
  }

  .menu li {
    float: left;
    margin: 20px;
  }

  .menu li:hover {
    cursor: pointer;
  }

  .menu.hidden {
    transform: translateY(-100%);
  }
  
  h1 {
    text-align: left;
    margin: 0;
    /* padding-top: 25px; */
    color: var(--dark-blue);
    font-size: 4rem;
  }

  h2 {
    color: var(--secondary);
  }

  h3 {
    color: var(--flash-white)
  }

  p, li {
    color: var(--tertiary);
    list-style: none;
    line-height: 30px;
  }

  a {
    color: var(--flash-white);
    text-decoration: none;
  }

  a:hover {
    color: var(--dark-blue);
  }

  .fade-in-section {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    transition: opacity 1500ms ease-out, transform 1000ms ease-out,
      visibility 1500ms ease-out;
    will-change: opacity, transform, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 2;
    transform: none;
    visibility: visible;
  }

  #about-me, #projects, #experience {
    padding: 25px;
    margin-top: 50px;
  }

  .openlab, .kdrama, .vacation {
    height: 100vh;
    width: 100%;
  }

  .about-me {
    height: 90vh;
    width: 65vw;
    display: grid;
    margin: auto;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    align-items: center;
  }

  .about-me p {
    grid-row: 2/2;
    width: 100%;
  }

  .profile-photo {
    grid-row: 2/2;
    grid-column: 2/2;
  }

  .profile-photo img {
    max-width: 275px;
    max-height: 425px;
  }

  .skills {
    margin: -35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .skills-list {
    column-count: 2;
    column-gap: 50px;
    padding: 0;
    margin: 0;
    break-inside: avoid-column;
  }

  .tools, .software, .languages {
    height: 100%;
    text-align: left;
  }

  .projects {
    /* height: 100vh; */
    width: 65vw;
    display: grid;
    margin: auto;
  }

  .experience {
    height: 100vh;
    width: 65vw;
    display: grid;
    margin: auto;
  }

  .project-tech, .experience-list {
    padding: 0;
    margin: 0;
    break-inside: avoid-column;
  }

  .experience-list li{
    list-style: circle;
    margin-left: 25px;
  }

  .project-tech > li {
    float: left;
    margin-right: 50px;
  }

  .links {
    height: 50vh;
    width: 65vw;
    display: grid;
    margin: auto;
    margin-top: 50px;
  }

  .external {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 120px;
  }

  .contact-links {
    padding: 0;
    margin: 0;
    break-inside: avoid-column;
  }

  .contact-links li {
    margin-bottom: 20px;
  }
 
  


  #scroll-to-links {
    color: var(--secondary);
  }

  #scroll-to-links:hover {
    cursor: pointer;
    color: var(--dark-blue);
  }

  .image-gallery {
    width: 70%;
    margin: auto;
    padding: 50px;
  }

  .image-gallery-slide img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
  }
}