@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Quicksand&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

/* Styles for root/mobile */
:root {
  --main: #1d1e1e;
  --secondary: #77b6ea;
  --tertiary: #c7d3dd;
  --dark-blue: #3051BD;
  --flash-white: #eff2f1;
  font-size: 20px;
  max-width: 100%;
  background-color: var(--main);
}


.App {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--main);
}

.navbar {
  background-color: var(--main);
  justify-content: flex-end; /* Align items to the right */
  border-bottom: 2px solid var(--dark-blue);
}

.navbar-nav {
  flex-direction: row; /* Display items horizontally */
}

.nav-link {
  color: var(--tertiary);
  margin-left: 20px; /* Add some spacing between the items */
}

.nav-link:hover {
  cursor: pointer;
  color: var(--dark-blue) !important;
}

.card-body {
  --bs-card-spacer-y: 0;
  --bs-card-spacer-x: 0;
}

.img-fluid {
  max-width: 275px;
  max-height: 425px;
  border-radius: 5px;
}

.accordion {
  --bs-accordion-bg: #212529 !important;
  --bs-accordion-border-color: var(--main) !important;
  --bs-accordion-active-bg: var(var(--dark-blue)) !important;
  --bs-accordion-border-width: 2px !important;
}

.accordion-button {
  color: var(--tertiary) !important;
}

.accordion-button:focus, .accordion-button:hover {
  background-color: var(--dark-blue) !important;
  border-color: var(--dark-blue) !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--dark-blue) !important;
}

.list-group {
  --bs-list-group-bg: #212529 !important;
}

.experience-list {
  padding: 50px
}

.list-group-item {
  color: var(--tertiary) !important;
}

.no-border {
  border: none !important;
}

a.external {
  color: var(--tertiary);
  text-decoration: none !important;
  cursor: pointer; /* Optionally, change the cursor style on hover */
}

a.external:hover {
  color: var(--dark-blue);
}
